<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.splashsplash">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main2Activity"></activity>
        <activity android:name=".AdlogActivity" />
        <activity android:name=".Register7Activity" />
        <activity android:name=".Inform7Activity" />
        <activity android:name=".Register6Activity" />
        <activity android:name=".Inform6Activity" />
        <activity android:name=".Register5Activity" />
        <activity android:name=".Inform5Activity" />
        <activity android:name=".Register4Activity" />
        <activity android:name=".Inform4Activity" />
        <activity android:name=".Register3Activity" />
        <activity android:name=".Inform3Activity" />
        <activity android:name=".Register2Activity" />
        <activity android:name=".Inform2Activity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".InformActivity" />
        <activity android:name=".Home1Activity" />
        <activity android:name=".CulturalActivity" />
        <activity android:name=".MastermindActivity" />
        <activity android:name=".FineartsActivity" />
        <activity android:name=".TechnokraftActivity" />
        <activity android:name=".PerformingartsActivity" />
        <activity android:name=".ManiaActivity" />
        <activity android:name=".SportsActivity" />
        <activity android:name=".NavActivity" />
        <activity android:name=".UserLoggedActivity" />
        <activity android:name=".UpdateEventActivity" />
        <activity android:name=".AddEventActivity" />
        <activity android:name=".SRActivity" />
        <activity android:name=".NotiActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".AdminlogActivity" />
        <activity android:name=".StudentRegisterationInfoActivity" />
        <activity android:name=".QueryActivity" />
        <activity android:name=".StudentActivity" />
        <activity android:name=".infoActivity" />
        <activity android:name=".cultActivity" />
        <activity android:name=".useloggedActivity" />
        <activity android:name=".LoggedActivity" />
        <activity android:name=".LogActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="project.async.com.event.FirebaseToken"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>